.animes-page__toolbar__display__dropdown {
    text-align: center;
    max-width: 150px;
    &__title {
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
        margin-bottom: 2%;
        cursor: pointer;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 43%;
            right: -16%;
            border: 6px solid transparent;
            border-top: 8px solid #fff;
            transition: all 0.4s;
        }

        &.active {
            &::after {
                transform: rotate(-90deg) translateX(3px)
            }
        }
    }

    &__menu {
        height: 0;
        opacity: 0;
        transition: opacity 0.4s;

        &__list {
            height: 100%;
            transition: all 0.4s;
            &__item {
                height: 100%;
                cursor: default;
                color: #0f1015;
                font-size: 15px;
                background: rgb(235, 235, 235);
                opacity: 0.9;
                transition: all 0.4s;
                &:hover {
                    opacity: 1;
                }

                &:first-child {
                    border-radius: 5px 5px 0 0;
                }
                &:last-child {
                    border-radius: 0 0 5px 5px;
                }
            }
        }

        &.active {
            height: 100%;
            opacity: 1;
            .animes-page__toolbar__display__dropdown__menu__list__item {
                padding: 15px;
                cursor: pointer;
            }
        }
    }
}
