.main-page__intro {
    display: flex;
    justify-content: space-between;
    padding: 6.5% 5% 0;

    @media screen and (max-width: 1110px) {
        padding: 6.5% 1% 0 2%;
    }
    @media screen and (max-width: 800px) {
        margin-bottom: 6%;
        justify-content: center;
    }

    &__left-side {
        flex: 1 1 50%;

        @media screen and (max-width: 800px) {
            flex: 1 1 100%;
            text-align: center;
        }

        &__upper-title {
            font-size: calc(9.3px + 6 * (100vw / 1690));
            color: #e9e9e9;
            line-height: 20px;

            margin-bottom: 2%;

            opacity: 0.8;
            transition: 0.4s;

            &:hover {
                opacity: 1;
            }

            @media screen and (max-width: 800px) {
                pointer-events: none;
            }
        }

        &__title {
            font-size: calc(15px + 17 * (100vw / 1690));
            font-weight: 500;

            line-height: 40px;

            margin-bottom: 7%;

            @media screen and (max-width: 800px) {
                pointer-events: none;
                line-height: 25px;
            }
        }
    }

    &__right-side {
        @media screen and (max-width: 800px) {
            display: none;
            flex: 0;
        }
        flex: 1 1 50%;

        &__group-images {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;

        @media screen and (max-width: 800px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

.github-btn {
    -webkit-tap-highlight-color: rgba($color: #ff186d00, $alpha: 0);
    font-size: calc(10px + 9 * (100vw / 1690));
    background: #ff186c;
    border-radius: 10px;

    padding: 2% 5%;
    opacity: 0.9;
    transition: 0.5s;

    margin-right: 2.5%;

    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }

    &:hover {
        opacity: 1;
    }
}

.faq-btn {
    -webkit-tap-highlight-color: rgba($color: #000, $alpha: 0);
    position: relative;
    font-size: calc(10px + 9 * (100vw / 1690));
    color: #ff186c;
    background: transparent;

    border: 1px solid #ff186c;
    border-radius: 10px;

    padding: 2% 5%;

    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

    &::before {
        content: "";
        display: block;

        position: absolute;
        top: 0;
        right: 0;

        border-radius: 10px;
        height: 100%;
        width: 0;
        z-index: -1;
        background: #ff186c;
        transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
        color: #fff;

        &::before {
            width: 100%;
            left: 0;
        }
    }

    @media screen and (max-width: 800px) {
        &::before {
            display: none;
        }

        &:hover {
            color: #ff186c;
        }
    }
}
