.profile-page {
    font-family: "Open Sans", sans-serif;

    &__container {
        margin: 0 auto;
        box-sizing: border-box;
        max-width: 1450px;
        min-width: 320px;
        width: 100%;
        height: 100%;

        padding: 125px 15px 0 15px;
    }
}