@font-face {
    font-family: "Guardians";
    src: url("../../assets/fonts/guardians.eot");
    src: url("../../assets/fonts/guardians.woff2") format("woff2"),
        url("../../assets/fonts/guardians.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/guardians.woff") format("woff"),
        url("../../assets/fonts/guardians.ttf") format("truetype"),
        url("../../assets/fonts/guardians.svg#Guardians") format("svg");
    font-display: swap;
}

// @font-face {
// 	font-family: 'RomanWood';
// 	src: url('../../assets/fonts/RomanWoodTypeJNL.eot');
// 	src: url('../../assets/fonts/RomanWoodTypeJNL.woff2') format('woff2'),
// 		 url('../../assets/fonts/RomanWoodTypeJNL.eot?#iefix') format('embedded-opentype'),
// 		 url('../../assets/fonts/RomanWoodTypeJNL.woff') format('woff'),
// 		 url('../../assets/fonts/RomanWoodTypeJNL.ttf') format('truetype'),
// 		 url('../../assets/fonts/RomanWoodTypeJNL.svg#RomanWood') format('svg');
// 	font-display: swap;
//  }

// @font-face {
// 	font-family: 'SenseW01';
// 	src: url('../../assets/fonts/SenseW01Medium.eot');
// 	src: url('../../assets/fonts/SenseW01Medium.woff2') format('woff2'),
// 		 url('../../assets/fonts/SenseW01Medium.eot?#iefix') format('embedded-opentype'),
// 		 url('../../assets/fonts/SenseW01Medium.woff') format('woff'),
// 		 url('../../assets/fonts/SenseW01Medium.ttf') format('truetype'),
// 		 url('../../assets/fonts/SenseW01Medium.svg#SenseW01') format('svg');
// 	font-display: swap;
//  }
